header {
    // grid-column: 1 / -1;
    background-color: var(--rat-editor-appbar-bg-color);
    color: var(--rat-editor-appbar-fg-color);
    font-family: var(--rat-editor-appbar-font-family);
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    span.rat-editor-app-title {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        padding: .4rem 1rem;
    }
}