@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
}

div#root {
  height: 100vh;
}

*.rat-editor-draggable-region {
  -webkit-app-region: drag;
}

*.no-select-region {
  user-select: none;
}

div.tippyTooltip {
  font-family: var(--rat-editor-global-font-family);
  background-color: var(--rat-editor-tooltip-bg-color);
  color: var(--rat-editor-tooltip-fg-color);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.43);
}

:root {
  /* GLOBAL VARIABLES */
  --rat-editor-bg-color: #1d1d1d;
  --rat-editor-fg-color: #fff;
  --rat-editor-accent-color: #2196f3;
  --rat-editor-global-font-family: "Roboto", sans-serif;
  --rat-editor-tooltip-bg-color: #000;
  --rat-editor-tooltip-fg-color: #fff;
  /* APPBAR VARIABLES */
  --rat-editor-appbar-bg-color: var(--rat-editor-bg-color);
  --rat-editor-appbar-fg-color: var(--rat-editor-fg-color);
  --rat-editor-appbar-font-family: var(--rat-editor-global-font-family);
  /* APPBAR NAVIGATION VARIABLES */
  --rat-editor-appbar-navigation-button-bg-color: transparent;
  --rat-editor-appbar-navigation-button-hover-bg-color: rgba(255,255,255,0.05);
  --rat-editor-appbar-navigation-button-fg-color: var(--rat-editor-fg-color);
  --rat-editor-appbar-navigation-button-hover-fg-color: var(--rat-editor-fg-color);
  --rat-editor-appbar-navigation-menu-submenu-caret: "›";
  --rat-editor-appbar-navigation-menu-bg-color: var(--rat-editor-appbar-bg-color);
  --rat-editor-appbar-navigation-menu-fg-color: var(--rat-editor-appbar-fg-color);
  --rat-editor-appbar-navigation-menu-item-bg-color: transparent;
  --rat-editor-appbar-navigation-menu-item-hover-bg-color: var(--rat-editor-accent-color);
  --rat-editor-appbar-navigation-menu-item-active-bg-color: var(--rat-editor-accent-color);
  --rat-editor-appbar-navigation-menu-item-fg-color: var(--rat-editor-appbar-navigation-menu-fg-color);
  --rat-editor-appbar-navigation-menu-item-hover-fg-color: var(--rat-editor-appbar-navigation-menu-item-fg-color);
  --rat-editor-appbar-navigation-menu-item-active-fg-color: #fff;
  --rat-editor-appbar-navigation-menu-submenu-open-bg-color: var(--rat-editor-appbar-navigation-menu-item-active-bg-color);
  --rat-editor-appbar-navigation-menu-submenu-open-fg-color: var(--rat-editor-appbar-navigation-menu-item-active-fg-color);
  --rat-editor-appbar-navigation-menu-divider-color: #2d2d2d;
  /* APPBAR WINDOW CONTROL VARIABLES */
  --rat-editor-appbar-window-control-bg-color: tranparent;
  --rat-editor-appbar-window-control-closebutton-bg-color: transparent;
  --rat-editor-appbar-window-control-closebutton-fg-color: inherit;
  --rat-editor-appbar-window-control-closebutton-hover-bg-color: #f44336;
  --rat-editor-appbar-window-control-closebutton-hover-fg-color: inherit;
  --rat-editor-appbar-window-control-maximizebutton-bg-color: transparent;
  --rat-editor-appbar-window-control-maximizebutton-fg-color: inherit;
  --rat-editor-appbar-window-control-maximizebutton-hover-bg-color: rgba(255, 255, 255, 0.05);
  --rat-editor-appbar-window-control-maximizebutton-hover-fg-color: inherit;
  --rat-editor-appbar-window-control-minimizebutton-bg-color: transparent;
  --rat-editor-appbar-window-control-minimizebutton-fg-color: inherit;
  --rat-editor-appbar-window-control-minimizebutton-hover-bg-color: rgba(255, 255, 255, 0.05);
  --rat-editor-appbar-window-control-minimizebutton-hover-fg-color: inherit;
  /* SIDEBAR TABS VARIABLES */
  --rat-editor-sidebar-tabs-bg-color: #2d2d2d;
  --rat-editor-sidebar-tabs-fg-color: var(--rat-editor-fg-color);
  --rat-editor-sidebar-tabs-font-family: var(--rat-editor-global-font-family);
  --rat-editor-sidebar-tabs-button-bg-color: tranparent;
  --rat-editor-sidebar-tabs-button-fg-color: #fff;
  --rat-editor-sidebar-tabs-button-hover-bg-color: rgba(255,255,255,0.05);
  --rat-editor-sidebar-tabs-button-hover-fg-color: var(--rat-editor-accent-color);
  /* EXPLORER VARIABLES */
  --rat-editor-explorer-bg-color: #252323;
  --rat-editor-explorer-header-fg-color: #fff;
}

div.rat-grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

div.rat-editor-main {
  display: grid;
  grid-template-columns: auto 1fr;
}

header {
  background-color: var(--rat-editor-appbar-bg-color);
  color: var(--rat-editor-appbar-fg-color);
  font-family: var(--rat-editor-appbar-font-family);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
header span.rat-editor-app-title {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.4rem 1rem;
}

div.window-controls {
  height: 100%;
  display: flex;
  justify-content: center;
}
div.window-controls button.window-control-button {
  display: grid;
  place-items: center;
  padding: 0 0.65rem;
  border-radius: 0;
  border: none;
  background-color: var(--rat-editor-appbar-window-control-bg-color);
  color: var(--rat-editor-appbar-fg-color);
}
div.window-controls button.window-control-button.window-control-button-close {
  background-color: var(--rat-editor-appbar-window-control-closebutton-bg-color);
  color: var(--rat-editor-appbar-window-control-closebutton-fg-color);
}
div.window-controls button.window-control-button.window-control-button-close:hover {
  background-color: var(--rat-editor-appbar-window-control-closebutton-hover-bg-color);
  color: var(--rat-editor-appbar-window-control-closebutton-hover-fg-color);
}
div.window-controls button.window-control-button.window-control-button-maximize {
  background-color: var(--rat-editor-appbar-window-control-maximizebutton-bg-color);
  color: var(--rat-editor-appbar-window-control-maximizebutton-fg-color);
}
div.window-controls button.window-control-button.window-control-button-maximize:hover {
  background-color: var(--rat-editor-appbar-window-control-maximizebutton-hover-bg-color);
  color: var(--rat-editor-appbar-window-control-maximizebutton-hover-fg-color);
}
div.window-controls button.window-control-button.window-control-button-minimize:hover {
  background-color: var(--rat-editor-appbar-window-control-minimizebutton-bg-color);
  color: var(--rat-editor-appbar-window-control-minimizebutton-fg-color);
}
div.window-controls button.window-control-button.window-control-button-minimize:hover:hover {
  background-color: var(--rat-editor-appbar-window-control-minimizebutton-hover-bg-color);
  color: var(--rat-editor-appbar-window-control-minimizebutton-hover-fg-color);
}
div.window-controls button.window-control-button svg {
  width: 1rem;
}

div.rat-editor-appbar-navigations {
  display: flex;
  align-items: stretch;
}
div.rat-editor-appbar-navigations div.test span.label {
  margin-right: 7.5rem;
}
div.rat-editor-appbar-navigations div.test span.key {
  font-weight: bold;
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu {
  background-color: var(--rat-editor-appbar-navigation-menu-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-fg-color);
  font-size: 12.5px;
  letter-spacing: 0.2px;
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__item {
  background-color: var(--rat-editor-appbar-navigation-menu-item-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-item-fg-color);
  padding-left: 35px;
  padding-right: 35px;
  /* &.szh-menu__item--open {
      background-color: var(
          --rat-editor-appbar-navigation-menu-submenu-open-bg-color
      );
      color: var(
          --rat-editor-appbar-navigation-menu-submenu-open-fg-color
      );
  } */
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__item:hover {
  background-color: var(--rat-editor-appbar-navigation-menu-item-hover-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-item-hover-fg-color);
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__item:active {
  background-color: var(--rat-editor-appbar-navigation-menu-item-active-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-item-active-fg-color);
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__submenu div[role=menuitem] {
  padding-left: 35px;
  padding-right: 35px;
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__submenu div[role=menuitem].szh-menu__item--open {
  background-color: var(--rat-editor-appbar-navigation-menu-submenu-open-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-submenu-open-fg-color);
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__submenu div[role=menuitem]:hover:not(.szh-menu__item--open) {
  background-color: var(--rat-editor-appbar-navigation-menu-item-hover-bg-color);
  color: var(--rat-editor-appbar-navigation-menu-item-hover-fg-color);
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__submenu div[role=menuitem]::after {
  content: var(--rat-editor-appbar-navigation-menu-submenu-caret);
  font-size: 28px;
  color: currentColor;
}
div.rat-editor-appbar-navigations ul.rat-editor-appbar-navigation-menu li.szh-menu__divider {
  background-color: var(--rat-editor-appbar-navigation-menu-divider-color);
}
div.rat-editor-appbar-navigations button.rat-editor-appbar-navigation-button {
  height: 100%;
  border: none;
  border-radius: 0;
  padding: 0.5rem 1rem;
  font-weight: 900;
  background-color: var(--rat-editor-appbar-navigation-button-bg-color);
  color: var(--rat-editor-appbar-navigation-button-fg-color);
}
div.rat-editor-appbar-navigations button.rat-editor-appbar-navigation-button:hover {
  background-color: var(--rat-editor-appbar-navigation-button-hover-bg-color);
  color: var(--rat-editor-appbar-navigation-button-hover-fg-color);
}

div.rat-editor-sidebar-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-tabs {
  background-color: var(--rat-editor-sidebar-tabs-bg-color);
  color: var(--rat-editor-sidebar-tabs-fg-color);
  font-family: var(--rat-editor-sidebar-tabs-font-family);
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-tabs button.rat-editor-sidebar-button {
  font-family: inherit;
  font-size: 20px;
  padding: 0.8rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0;
  background: var(--rat-editor-sidebar-tabs-button-bg-color);
  color: var(--rat-editor-sidebar-tabs-button-fg-color);
  /* &.rat-editor-sidebar-button-project-explorer {
      // font-size: 25px;
      // color: var(--rat-editor-accent-color)
  } */
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-tabs button.rat-editor-sidebar-button:hover:not(.rat-editor-sidebar-button-active) {
  background: var(--rat-editor-sidebar-tabs-button-hover-bg-color);
  color: var(--rat-editor-sidebar-tabs-button-hover-fg-color);
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-tabs button.rat-editor-sidebar-button.rat-editor-sidebar-button-active {
  background: var(--rat-editor-accent-color);
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-pane {
  width: 250px;
  position: relative;
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-pane div.rat-editor-sidebar-pane-contents {
  width: 100%;
  height: 100%;
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-pane div.rat-editor-sidebar-pane-contents.rat-editor-sidebar-pane-contents-closed {
  pointer-events: none;
  visibility: hidden;
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-pane div.rat-editor-sidebar-pane-resizer {
  position: absolute;
  width: 4px;
  right: 0;
  top: 0;
  transform: translateX(50%);
  bottom: 0;
  background-color: dodgerblue;
  z-index: 5;
  opacity: 0;
}
div.rat-editor-sidebar-container div.rat-editor-sidebar-pane div.rat-editor-sidebar-pane-resizer:hover {
  opacity: 1;
}

div.rat-editor-sidebar-pane-contents {
  height: 100%;
}

div.rat-editor-explorer {
  width: 100%;
  height: 100%;
  background-color: var(--rat-editor-explorer-bg-color);
}
div.rat-editor-explorer div.rat-editor-explorer-header {
  padding: 0.2rem 0.8rem;
  color: var(--rat-editor-explorer-header-fg-color);
}
div.rat-editor-explorer div.rat-editor-explorer-header h4 {
  font-family: var(--rat-editor-global-font-family);
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
